.clear {
    clear: both;
}
.contact-info{
    display: inline-block;
    width: 40%;
}
.contact-input{ 
    display: inline-block;
    width: 60%;
    float: right;
}
.s-contact-info{
    padding: 30px ;
}
.s-contact-info li {
    list-style: none;
    padding: 16px;
    opacity: 0.6;
}
.s-contact-info li span {
    font-size: 16px;
}
.s-contact-info li i {
    float: left;
    font-size: 24px;
    padding-right: 10px;
}
.s-contact-info ul{
    padding-left: 0px;
}
.s-contact-input {
    padding: 30px;
}
.s-contact-input div{
    padding: 4px 0 4px 0;
}
.s-contact-input input{
    padding: 8px 0 8px 8px;
    width: 100%;
}
.s-contact-input textarea {
    width: 100%;
    padding-left: 8px;
}
.s-contact-input button {
    padding: 10px;
    color: #fff;
    background-color: rgb(12, 163, 113);
    border: #fff;
}
.s-feedback {
    padding: 20px;
}
.s-feedback > h2 {
    text-align: center;
    padding: 12px 0 60px 0;

}
.client{
    width: 33.33333333%;
    float: left;
    padding-bottom: 20px;
}
.client-img {
    width: 100px;
    float: left;
    height: 150px;
    padding-right: 12px;
}
.client-text p {
    margin-top: 0;
    opacity: 0.6;
    padding-right: 20px;
}
.s-form{
    padding: 12px;
    width: 500px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}
.s-form .form-left{
    width: 100px;
    float: left;
    padding-right: 20px;
}
.s-form input{
    padding: 4px;
    margin-bottom: 4px;
}
.s-form > form > div {
    margin: 12px;
}
.s-form button {
    width: 60px;
    height: 30px;
}