* {
  font-family: "Asap", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cover {
  position: absolute;
  top: 15%;
  left: 200px;
  width: 650px;
  height: 150px;
  background-color: #ccc;
  opacity: 0.8;
}
.content {
  color: #3f3424;
  position: absolute;
  top: 15%;
  left: 200px;
  padding: 20px 40px;
}
.content h1,
.content p {
  margin-bottom: 10px;
}
.price {
  top: 29%;
  left: 560px;
  display: inline-block;
  position: absolute;
  background-color: #bf4240;
  color: #fff;
  font-size: 20px;
  padding: 5px 15px;
}
.content h1 {
  color: #bf4240;
}
.content h3 {
  font-weight: 500;
}
