.calculator{
    width: 400px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    
}
.s-table{
    padding: 8px;
    
}
table{
    width: 100%;
    border: 2px solid ;
    border-collapse:collapse;
    background-color: aliceblue;
}
td {
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
    width: 25%;
    border: 2px solid ;

}
tr{
    height: 120px;
    border: 2px solid ;
}